;;CTAFCONF, GPL, etc

;;this file define the functionnality you want to see in your emacs

;; to enable a functionnality
;;(defvar enable-functionnality t)
;; to disable it
;;(defvar enable-functionnality nil)

;;scrollbar
(setq enable-scroll-bar nil)

;;menubar
(setq enable-menu-bar nil)

;;toolbar
(setq enable-tool-bar nil)

;;enable/disable the zone screensaver
(setq enable-zone nil)

;;enable/disable the cedet environnement
(setq enable-cedet nil)

;;enable/disable the ecb ide
(setq enable-ecb nil)

;;enable/disable ilisp
(setq enable-ilisp nil)
