;;CTAFCONF, GPL, etc

;;this file define the functionnality you want to see in your emacs

;; to enable a functionnality
;;(defvar enable-functionnality t)
;; to disable it
;;(defvar enable-functionnality (not t))

;;display the menu bar
(defvar enable-menu-bar t)

;;enable/disable the zone screensaver
(defvar enable-zone (not t))

;;enable/disable the cedet environnement
(defvar enable-cedet (not t))

;;enable/disable the ecb ide
(defvar enable-ecb (not t))

;;enable/disable ilisp
(defvar enable-ilisp (not t))
