;;CTAFCONF, GPL, etc

;;this file define the functionnality you want to see in your emacs

;; to enable a functionnality
;;(defvar enable-functionnality t)
;; to disable it
;;(defvar enable-functionnality nil)

(setq enable-scroll-bar nil)
(setq enable-menu-bar nil)
(setq enable-tool-bar nil)



;;enable/disable the zone screensaver
(defvar enable-zone nil)

;;enable/disable the cedet environnement
(defvar enable-cedet nil)

;;enable/disable the ecb ide
(defvar enable-ecb nil)

;;enable/disable ilisp
(defvar enable-ilisp nil)
